obj
lib
*.swp
*.in
*.o
*.lo
.deps
doc
*.a
*.la
*.pc
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
.dirstamp
depcomp
install-sh
libtool
ltmain.sh
missing
